<h2>Welcome to <%= @circus.name %></h2>

<div><%= link_to "All Circuses", "/" %></div>
<div><%= link_to "Edit this circus", edit_circus_path(@circus)%></div>

<br>

<p>Current Lineup!</p>
<ul>
<% @circus.entertainers.each do |entertainer| %>
  <li>Name: <%= entertainer.name %></li>
  <li>Specialty: <%= entertainer.specialty %></li>
  <br>
<% end %>
</ul>
